body{
font-family: 'Montserrat', sans-serif;
padding-top: 64px;
}

.navbar-brand{
font-family: 'Passion One', cursive;
}

.social_media{
  font-family: 'Montserrat', sans-serif;
}

.who-delivers{
   background: url("images/main-hero.jpg") no-repeat center center;
  background-size: cover;
}

.app-down{
  background: url("images/download-hero.jpg") no-repeat center center;
  background-size: cover;
}

.py-6 {
  padding-top: 150px;
  padding-bottom: 150px;
}